

{% extends "bootstrap/base.html" %}

{% block title %}
Ejemplo de Bootstrap
{% endblock %}

{% block navbar %}
<nav class="collapse navbar-collapse">
<ul class="nav navbar-nav">
   <li class="active"><a href="#">Inicio</a></li> 
   <li><a href="/itbms">ITBMS</a></li>
</ul>
</nav>
{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1>Bienvenido!</h1>
  <p><a class="btn btn-primary btn-lg" href="/itbms" role="button">Calcular el 7%</a></p>
</div>
{% endblock%}
