

{% extends "bootstrap/base.html" %}

{% block title %}
Calculo de ITBMS
{% endblock %}

{% block content %}
<div class="input-group">
   <form action="/itbms" method="post">
      <input type="text" class="form-control" placeholder="Valor a calcular..." name="valor">
      <span class="input-group-btn">
         <input class="btn btn-default" type="submit" value="Calcular!" />
      </span>
   </form>
</div>
{% endblock %}
