{% extends "bootstrap/base.html" %}

{% block title %}
Resultado
{% endblock %}

{% block content %}
<center>
   {% if valor == -1.0 %}
   <div class="alert alert-danger" role="alert">Error: valores invalidos</div>
   {% else %}
   <div class="alert alert-success" role="alert">El ITBMS de ${{ valor }} es de ${{ resultado }} </div>
   {% endif %}
   <p><a href="/">Volver al Inicio</a>
</center>
{% endblock %}
